@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bebas {
        font-family: 'Righteous';
    },
    .tourney {
        font-family: 'Tourney';
    }
}

@layer utilities {
    @variants hover {
        .hover {
            filter: invert(42%) sepia(35%) saturate(4518%) hue-rotate(244deg) brightness(97%) contrast(101%);
            scale: 1.2;
        }
    }
    .link {
        filter: invert(15%) sepia(51%) saturate(6416%) hue-rotate(270deg) brightness(100%) contrast(96%);
        @apply w-14 mx-4 transition-all duration-300 hover:cursor-pointer;
    }
}

#text{
    background: url('/profile.png');
    background-attachment: fixed;
    -webkit-background-clip: text;
    font-size: 7px;
    background-position:right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-text-fill-color: rgba(255,255,255,0.01);
    line-break: anywhere;
}