@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bebas {
        font-family: 'Righteous';
    },
    .tourney {
        font-family: 'Tourney';
    },
    .palanquin {
        font-family: 'Palanquin Dark'
    }
}

@layer utilities {
    @variants hover {
        .hover {
            filter: invert(42%) sepia(35%) saturate(4518%) hue-rotate(244deg) brightness(97%) contrast(101%);
            scale: 1.1;
        }
    }
    .link {
        filter: invert(15%) sepia(51%) saturate(6416%) hue-rotate(270deg) brightness(100%) contrast(96%);
        @apply transition-all duration-300 hover:hover hover:cursor-pointer;
    }
    .resume {
        filter: invert(78%) sepia(46%) saturate(5639%) hue-rotate(218deg) brightness(95%) contrast(109%);
        @apply transition-all duration-300 hover:hover hover:cursor-pointer;
    }
    .invert-logo {
        filter: invert(59%) sepia(79%) saturate(1837%) hue-rotate(221deg) brightness(100%) contrast(98%);
    }
}

#text{
    background: url('/profile.png');
    background-attachment: scroll;
    -webkit-background-clip: text;
    font-size: 7px;
    background-position:right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-text-fill-color: rgba(255,255,255,0.1);
    line-break: anywhere;
}

html {
    scroll-behavior:smooth
}